:root{
    --text-color:#242424;
    --text-color-2:#1C1C1C;
    --white-text-color:#fff;
    --gold-color: #F7931E;

}



/* Fonts IBM Plex sans */
@font-face {
    font-family: 'IBM Plex Sans';
    src:url('../fonts/IBMPlexSans-Medium.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* FONTS BBC reith */

@font-face {
    font-family: 'BBC Reith Sans';
    src: url('../fonts/BBCReithSans-Bold.woff2') format('woff2'),
        url('../fonts/BBCReithSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBC Reith Sans';
    src: url('../fonts/BBCReithSans-Bold.woff2') format('woff2'),
        url('../fonts/BBCReithSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBC Reith Sans Cd';
    src: url('../fonts/BBCReithSansCd-Regular.woff2') format('woff2'),
        url('../fonts/BBCReithSansCd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBC Reith Sans';
    src: url('../fonts/BBCReithSans-Medium.woff2') format('woff2'),
        url('../fonts/BBCReithSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBC Reith Sans';
    src: url('../fonts/BBCReithSans-Medium.woff2') format('woff2'),
        url('../fonts/BBCReithSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBC Reith Sans Cd';
    src: url('../fonts/BBCReithSansCd-Regular.woff2') format('woff2'),
        url('../fonts/BBCReithSansCd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




html{
    box-sizing:border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing:inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding:0;
    margin:0;
    font-family:"BBC Reith Sans", sans-serif;
    font-size:17px;
    line-height: 1.5;
    background-color:#fff;
    color:var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN_CONTENT */
.main-content{
    flex-grow: 1;
}