@font-face {
    font-family: 'BBC Reith Sans';
    src: url('BBCReithSans-Bold.woff2') format('woff2'),
        url('BBCReithSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBC Reith Sans';
    src: url('BBCReithSans-Bold.woff2') format('woff2'),
        url('BBCReithSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBC Reith Sans Cd';
    src: url('BBCReithSansCd-Regular.woff2') format('woff2'),
        url('BBCReithSansCd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBC Reith Sans';
    src: url('BBCReithSans-Medium.woff2') format('woff2'),
        url('BBCReithSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBC Reith Sans';
    src: url('BBCReithSans-Medium.woff2') format('woff2'),
        url('BBCReithSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBC Reith Sans Cd';
    src: url('BBCReithSansCd-Regular.woff2') format('woff2'),
        url('BBCReithSansCd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

